@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

a:hover{
  text-decoration:none !important;
}


body{
    background-color:#f5fffe;
}
.navbox{
    border-radius: 10px;
}

.button{
    border-radius: 20px !important;
}
.title-header{
    font-weight: 400 !important;
    font-size:20px;
}
.control input{
      border-radius: 20px !important;
      border:none !important;
    outline:none !important;
    margin-bottom:30px;
}
.control :input-placeholder{
    
    font-size: 20px;
    margin-left:30px;
}

.box-fix{
    border-radius: 20px;
}

.column-fixer{
  font-size: 9px;
   
}
.service-title p{
  font-size:40px;
  font-weight:300;
}

.product-title p{
  font-size:40px !important;
  font-weight:300 !important;
 
}
.has-color-white{
  color:white;
}
.list-item p{
  color:#4a4a4a !important;
}
.checker{
  color:greenyellow;
}
.checker-not{
  color:red;
}
.is-rounded{
  background-color:#fbfbfb;
}
.control{
  width:90% !important ;
}

.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
  }
  
#slider .card-content{
    max-width: 50%;
  }
  
#slider{
    overflow: hidden;
  }
  
@media screen and (max-width: 1023px) {
    #slider .card-content{
      display: none;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

.caption-container {
  color: white;
}


/*Navbar*/

.carousel {
  position: relative;
  overflow: hidden;
}
.carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%);
}
.carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%;
}
.carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.carousel .carousel-container .carousel-item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}
.carousel .carousel-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.carousel .carousel-navigation .carousel-nav-left,
.carousel .carousel-navigation .carousel-nav-right {
  padding: 1em;
}
.carousel .carousel-navigation.is-centered {
  justify-content: center;
}
.carousel .carousel-navigation.is-overlay {
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-left,
.carousel .carousel-navigation.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  z-index: 99;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,
.carousel .carousel-navigation.is-overlay .carousel-nav-right:hover {
  cursor: pointer;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-right {
  left: auto;
  right: 0;
}
.carousel.is-reversing .carousel-container {
  transform: translateX(-100%);
}
.carousel.is-reversing.is-2 .carousel-container {
  transform: translateX(calc(-100% / 2));
}
.carousel.is-reversing.is-3 .carousel-container {
  transform: translateX(calc(-100% / 3));
}
.carousel.is-reversing.is-4 .carousel-container {
  transform: translateX(calc(-100% / 4));
}
.carousel.is-reversing.is-5 .carousel-container {
  transform: translateX(calc(-100% / 5));
}
.carousel.is-2 .carousel-container {
  left: calc(-100% / 2);
  transform: translateX(calc(100% / 2));
}
.carousel.is-2 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 2);
}
.carousel.is-3 .carousel-container {
  left: calc(-100% / 3);
  transform: translateX(calc(100% / 3));
}
.carousel.is-3 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 3);
}
.carousel.is-4 .carousel-container {
  left: calc(-100% / 4);
  transform: translateX(calc(100% / 4));
}
.carousel.is-4 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 4);
}
.carousel.is-5 .carousel-container {
  left: calc(-100% / 5);
  transform: translateX(calc(100% / 5));
}
.carousel.is-5 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 5);
}

.hero.has-carousel {
  position: relative;
}
.hero.has-carousel + .hero-body,
.hero.has-carousel + .hero-head,
.hero.has-carousel + .hero-footer {
  z-index: 1;
}
.hero.has-carousel .hero-carousel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border: none;
  margin: auto;
  padding: 0;
  z-index: 0;
}

.hero-carousel {
  position: relative;
  overflow: hidden;
}
.hero-carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%);
}
.hero-carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%;
}
.hero-carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.hero-carousel .carousel-container .carousel-item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}
.hero-carousel .carousel-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero-carousel .carousel-navigation .carousel-nav-left,
.hero-carousel .carousel-navigation .carousel-nav-right {
  padding: 1em;
}
.hero-carousel .carousel-navigation.is-centered {
  justify-content: center;
}
.hero-carousel .carousel-navigation.is-overlay {
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left,
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  z-index: 99;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right:hover {
  cursor: pointer;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  left: auto;
  right: 0;
}
.hero-carousel.is-reversing .carousel-container {
  transform: translateX(-100%);
}
.hero-carousel.is-reversing.is-2 .carousel-container {
  transform: translateX(calc(-100% / 2));
}
.hero-carousel.is-reversing.is-3 .carousel-container {
  transform: translateX(calc(-100% / 3));
}
.hero-carousel.is-reversing.is-4 .carousel-container {
  transform: translateX(calc(-100% / 4));
}
.hero-carousel.is-reversing.is-5 .carousel-container {
  transform: translateX(calc(-100% / 5));
}

.carousel.carousel-animate-slide.carousel-animated .carousel-container,
.hero-carousel.carousel-animate-slide.carousel-animated .carousel-container {
  transform: none;
  transition: transform 0.5s ease-in-out;
}
.carousel.carousel-animate-fade .carousel-item,
.hero-carousel.carousel-animate-fade .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.carousel.carousel-animate-fade .carousel-item.is-active,
.hero-carousel.carousel-animate-fade .carousel-item.is-active {
  opacity: 1;
}
.carousel.carousel-animate-fade .carousel-item:not(.is-active),
.hero-carousel.carousel-animate-fade .carousel-item:not(.is-active) {
  opacity: 0;
}




/*intro words*/

.intro-words{
  font-weight:300;
  position:absolute;
  top:20vh;
  left:10%
}

.intro-wordh{
  font-size: 50px !important;
}
.intro-wordp{
  font-size: 30px !important;

}

.accordion {
  margin: 0 auto;
}
.accordion section header :hover{
  
  color: rgb(4, 84, 111);
  margin-bottom: 0.25rem;
}
.accordion section {
  display: block;
}
.accordion section header {
  cursor: pointer;
  padding: 18px;
  border: 1px dashed lightblue;
  color: lightblue;
  transition: background 1s ease-in-out;
  margin-bottom: 0.25rem;
}
.accordion section header h5:after {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  float: right;
}
.accordion section .selected h5:after {
  content: "";
}
.accordion section .accord-content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
}
.accordion section .accord-content p {
  margin-bottom: 0;
}